body {
  background-color: #e6e6e6;
  color: #751aff;
  line-height: 1.5;
  padding: 100px;
}

nav {
  background-color: #999999;
  padding: 10px;
}

nav a {
  padding: 5px;
}

a {
  text-decoration: none;
  color: #751aff;
}

nav a:hover {
  color: white;
}

.my-projects {
  margin-top: 50px;
}

img {
  max-width: 520px;
}

.project-info {
  background-color: white;
  padding: 10px;
  max-width: 500px;
  margin-bottom: 50px;
}

.project-info a:hover {
  color: #999999;
}

.about-me {
  border-bottom: solid 2px #999999;
  padding-bottom: 20px;
}

footer {
  background-color: #999999;
  margin-top: 50px;
  padding: 10px;
}

footer a:hover {
  color: white;
}

.social-media a {
  padding-right: 10px;
}
